<section class="industry-partners-page py-5">
  <div class="container">
    <h2 class="section-title text-center mb-5">Industry Partners</h2>

    <div class="row gy-5 justify-content-center">
      <!-- Safety Technology Partners -->
      <section class="col-md-6 col-lg-3 text-center partner-card">
        <h5 class="partner-title">Safety Technology Partners</h5>
        <div class="logo-grid">
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/clinevo.png" alt="Clinevo" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/clinion.png" alt="Clinion" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/transperfect.png" alt="Transperfect" /></a>
        </div>
      </section>

      <!-- Cloud Technology Partners -->
      <section class="col-md-6 col-lg-3 text-center partner-card">
        <h5 class="partner-title">Cloud Technology Partners</h5>
        <div class="logo-grid">
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/aws.png" alt="AWS" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/azure.png" alt="Azure" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/gcp.png" alt="Google Cloud" /></a>
        </div>
      </section>

      <!-- Technology Partners -->
      <section class="col-md-6 col-lg-3 text-center partner-card">
        <h5 class="partner-title">Technology Partners</h5>
        <div class="logo-grid">
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/angular.png" alt="Angular" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/react.png" alt="React" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/mongodb.png" alt="MongoDB" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/node.png" alt="Node.js" /></a>
        </div>
      </section>

      <!-- Strategic Partners -->
      <section class="col-md-6 col-lg-3 text-center partner-card">
        <h5 class="partner-title">Strategic Partners</h5>
        <div class="logo-grid">
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/iag.png" alt="IAG" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/oper9.png" alt="Oper9" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/qppv.png" alt="QPPV" /></a>
          <a href="#" target="_blank"><img src="./../../../assets/Indus-logos/naoh.png" alt="Naoh Therapeutics" /></a>
        </div>
      </section>
    </div>
  </div>
</section>
