.navbar {
    border-bottom: 2px solid #E0E0E0;
  }
  
  .navbar-brand img {
    max-height: 40px;
  }
  
  .nav-link {
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #132c63 !important;
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #132c63 !important;
 }
  
 .dropdown-item{
  color: #132c63;
  font: 1em 'Poppins', sans-serif;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    background-color: #132c63;
    color: #fff;
  }
 }