  <section id="our-services" class="container mb-5">
    <h2 class="sv_tx_color_1 mb-4 text-center">Our Services</h2>
    <div class="row g-4 ">
      <div class="col-md-4">
        <a routerLink="/TECH-SERV" class="text-decoration-none">
          <div class="card h-0 shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title sv_tx_color_1">Pharmacovigilance Services</h5>
                <p class="card-text sv_tx_color_2">
                    Technology-driven pharmacovigilance for safer, compliant, and more efficient drug safety monitoring.
                </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a routerLink="/FUNC-SERV" class="text-decoration-none">
          <div class="card h-0 shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title sv_tx_color_1">Clinical Research Services</h5>
              <p class="card-text sv_tx_color_2">
               Comprehensive, technology-driven clinical research support from study design to post-marketing surveillance.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a routerLink="/CLNC-SERV" class="text-decoration-none">
          <div class="card h-0 shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title sv_tx_color_1">Clinical Data Management</h5>
                <p class="card-text sv_tx_color_2">
                   Empowering life sciences with intelligent, secure, and compliant clinical trial data solutions.
                </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>