  <section id="our-services" class="container mb-5">
    <h2 class="sv_tx_color_1 mb-4 text-center">Our Services</h2>
    <div class="row g-4">
      <div class="col-md-4">
        <a routerLink="/TECH-SERV" class="text-decoration-none">
          <div class="card h-0 shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title sv_tx_color_1">Pharmacovigilance Services</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a routerLink="/FUNC-SERV" class="text-decoration-none">
          <div class="card h-0 shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title sv_tx_color_1">Clinical Research Services</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a routerLink="/CLNC-SERV" class="text-decoration-none">
          <div class="card h-0 shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title sv_tx_color_1">Clinical Data Management</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>