<section class="homepage-wrapper py-5">
  <section class="container mb-5">
    <!-- <h2 class="sv_tx_color_1 mb-4 text-center">About Us</h2> -->
   <!-- <b class="sv_tx_color_2">SafeVig</b> is a trusted global partner delivering next-generation, technology-driven solutions tailored to meet the dynamic needs of the pharmaceutical, biotechnology, and life sciences industries. From the outset, we have been committed to transforming regulatory and operational processes by harnessing advanced technologies such as Automation, Artificial Intelligence (AI), Machine Learning (ML), and Blockchain. -->
  </section>
<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 mb-4">
            <a [routerLink]="['/ABT-CMPY']" class="text-decoration-none">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title sv_tx_color_1">Company Overview</h5>
                        <p class="card-text sv_tx_color_2">
                            Learn more about our company, values, and vision.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-5 mb-4">
            <a [routerLink]="['/ABT-IDPT']" class="text-decoration-none">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title sv_tx_color_1">Industry Partner</h5>
                        <p class="card-text sv_tx_color_2">
                            Discover our collaborations and partnerships in the industry.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section></section>
