<footer class="footer sv_bg_color_1 text-white py-3">
    <div class="container">
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-8">
          <div class="d-flex align-items-center">
            <img src="./../../../assets/Logos/SaveVigShortLogo.png" alt="Logo" class="footer-logo me-2 bg-white">
            <h5>SafeVig</h5>
          </div>
          <p class="mt-2">
           <b class="sv_tx_color_2">SafeVig</b> is a leading global Techno-Functional organization dedicated to transforming the pharmaceutical and biotechnology industries through innovative solutions. By continuously evolving to address operational and functional challenges, SafeVig leverages cutting-edge technologies such as Automation, AI, Machine Learning, and Blockchain. Since its inception, SafeVig has grown by delivering robust, high-quality solutions that streamline processes and enhance compliance across critical areas such as pharmacovigilance, safety reporting, and regulatory management. With a focus on efficiency and innovation, SafeVig empowers organizations to stay ahead of the curve in a rapidly changing industry.
          </p>
          
        </div>
  
        <!-- Middle Column -->
        <div class="col-md-2">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/ABT-CMPY" class="footer-link">About Us</a></li>
            <li><a (click)="scrollToProductsServices('our-services')" class="footer-link">Services</a></li>
            <li><a (click)="scrollToProductsServices('our-products')" class class="footer-link">Products</a></li>
            <li><a href="/careers" class="footer-link">Careers</a></li>
            <li><a href="/privacy-policy" class="footer-link">Privacy Policy</a></li>
          </ul>
        </div>
  
        <!-- Right Column - Social Links -->
        <div class="col-md-2">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <!-- <li><a href="#" class="footer-link"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="#" class="footer-link"><i class="fab fa-twitter"></i> Twitter</a></li> -->
            <li><a href="https://www.linkedin.com/company/95700798/admin/dashboard/" class="footer-link"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="#" class="footer-link"><i class="fab fa-youtube"></i> YouTube</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <p class="small text-center">© Copyright 2023 | SafeVig Solutions</p>
      </div>
    </div>
  </footer>
  